<div *ngIf="guitarist" class="detailsContainer">
  <h2>{{ guitarist.name | uppercase }} Details</h2>
  <div>id: {{guitarist.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="guitarist.name" placeholder="name"/>
    </label>
    <button (click)="save()">Save</button>
  </div>
  <p>Groups</p>
  <ol>
    <li *ngFor="let group of guitarist.groups; let i = index" >
      {{group}} <span (click)="removeGroup(i)">X</span>
    </li>
  </ol>
  <div>
    <label>Group name:
      <input #groupName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addGroup(groupName.value); groupName.value=''">
      Add
    </button>
  </div>
  <button (click)="goBack()">Back</button>
</div>

