.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  width: 33%;
  margin-left: 33%;
  margin-top: 30px;
}

.detailsContainer li {
  color: red;
}

.detailsContainer ol li span {
  color: black;
}
